
.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}
/* General styles for all icon-box images */
.icon-box .service-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #700; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon-box.acmis:hover .service-image {
    content: url("../services/ACCRED\ \(1\).png");
    opacity: 0.8;
}
.icon-box.apms:hover .service-image {
    content: url("../services/APMS\ \(1\).png");
    opacity: 0.8;
}
.icon-box.csched:hover .service-image {
    content: url("../services/CSCHED\ \(1\).png");
    opacity: 0.8;
}
.icon-box.esis:hover .service-image {
    content: url("../services/ESIS\ \(1\).png");
    opacity: 0.8;
}
.icon-box.fis:hover .service-image {
    content: url("../services/FIS\ \(1\).png");
    opacity: 0.8;
}
/* Change this */
.icon-box.ms:hover .service-image {
    content: url("../services/MS\(1\).png");
    opacity: 0.8;
}
.icon-box.ris:hover .service-image {
    content: url("../services/RIS\ \(1\).png");
    opacity: 0.8;
}
.icon-box.scds:hover .service-image {
    content: url("../services/SCDS\ \(2\).png");
    opacity: 0.8;
}
.icon-box.sge:hover .service-image {
    content: url("../services/SGEe\ \(2\).png");
    opacity: 0.8;
}

/* General for Contact Us */
.icon-box .contact-image {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.icon-box.location:hover .contact-image {
    content: url("../contacts/location_hover.png");
    opacity: 0.8;
}
.icon-box.email:hover .contact-image {
    content: url("../contacts/email_hover.png");
    opacity: 0.8;
}
.icon-box.call:hover .contact-image {
    content: url("../contacts/call_hover.png");
    opacity: 0.8;
}
