
.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}
/* General styles for all icon-box images */
.icon-box .service-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 0.2rem solid #700; 
    transition: 0.3s;
}

.acmis .service-image:hover {
    content: url("../services/ACCRED.png");
    transform: scale(1.1);

}
.apms .service-image:hover {
    content: url("../services/APMSs.png");
    
}
.icon-box.csched:hover .service-image {
    content: url("../services/CSCHED.png");
    
}
.icon-box.esis:hover .service-image {
    content: url("../services/ESIS.png");
    
}
.icon-box.fis:hover .service-image {
    content: url("../services/FIS.png");
    
}
/* Change this */
.icon-box.ms:hover .service-image {
    content: url("../services/MS.png");
    
}
.icon-box.ris:hover .service-image {
    content: url("../services/RIS.png");
    
}
.icon-box.scds:hover .service-image {
    content: url("../services/SCDS.png");
    
}
.icon-box.sge:hover .service-image {
    content: url("../services/SGE.png");
    
}

/* General for Contact Us */
.icon-box .contact-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 0.2rem solid #700; 
    transition: 0.3s;
}
.icon-box.location:hover .contact-image {
    content: url("../contacts/location.png");
    
}
.icon-box.email:hover .contact-image {
    content: url("../contacts/email.png");
    
}
.icon-box.call:hover .contact-image {
    content: url("../contacts/call.png");
    
}
