{% load static %}

<section id="section_contact" class="pt-0">
    <div class="breadcrumbs" data-aos="fade-in" style="background-color: #800000; color: #ffffff;" >
        <div class="container">
        <h2>Contact us</h2>
        </div>
    </div>
    <div class="custom-size">
        <div class="ratio ratio-21x9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.2261491776335!2d121.07949901060415!3d14.699799185739172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397ba7528549fb1%3A0x62d21f0cc60f364d!2sPolytechnic%20University%20of%20the%20Philippines%20Quezon%20City!5e0!3m2!1sen!2sph!4v1717231530588!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
        <div class="row">
    </div>
    <div id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
                <div class="col-lg-12 flex align-items-stretch mt-3" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-boxes flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col flex align-items-stretch">
                                <a href="#" target="_blank" class="icon-box location mt-4 mt-xl-0" style="border: none !important;">
                                    <img src="{% static 'contacts/location_hover.png' %}" alt="Location" class="contact-image">
                                    <h4>Location</h4>
                                    <h5>Don Fabian, Quezon City, 1121 Metro Manila</h5>
                                </a>
                            </div>
                            <div class="col flex align-items-stretch">
                                <a href="#" target="_blank" class="icon-box email mt-4 mt-xl-0" style="border: none !important;">
                                    <img src="{% static 'contacts/email_hover.png' %}" alt="Email" class="contact-image">
                                    <h4>Email</h4>
                                    <h5>inquire@pup.edu.ph</h5>
                                </a>
                            </div>
                            <div class="col flex align-items-stretch">
                                <a href="https://acmis.onrender.com/" target="_blank" class="icon-box call mt-4 mt-xl-0" style="border: none !important;">
                                    <img src="{% static 'contacts/call_hover.png' %}" alt="Call" class="contact-image">
                                    <h4>Call</h4>
                                    <h5>(+63 2) 5335-1PUP</h5>
                                </a>
                            </div>
                        <div>
                    </div><!-- End .content-->
                </div>
            </div>
        </div>
    </div>
</section>