{% load static %}

<section id="section_home" class="pt-0">
    <div id="indexCarousel" class="carousel slide d-flex justify-content-center">
        <div class="carousel-indicators">
                <button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="0" class="live active rounded-circle" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="1" class="live rounded-circle"aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="2" class="live rounded-circle"aria-label="Slide 3"></button>
        </div>

        <div id="hero" class="d-flex justify-content-center align-items-center px-5">

            <div class="carousel-inner">
                <div>
                    <div>
                        <div id="oneStop" class="carousel-item active" data-aos="zoom-in" data-aos-delay="10">
                            <h1>Your One-Stop Portal<br>for all PUPQC e-Services</h1>
                            <h2>Access all services in one click</h2>
                            <a href="#" class="btn-get-started">Go to services</a>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'about/pylon.png' %}" class="d-block" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'about/PUP2.jpg' %}" class="d-block" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var myCarousel = new bootstrap.Carousel('#indexCarousel', {
                        interval: 2000, // 2 seconds
                        ride: 'carousel'
                    });
                });
            </script>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#indexCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#indexCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
