{% load static %}

    <div id="section_about">
        &nbsp;
    </div>

    <section id="about" class="about mt-3">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>myPUPQC: A unified portal for all Iskolar ng Bayan</h3>
                    <p class="mt-7">
                        myPUPQC is a dedicated portal designed to provide university assistance at Polytechnic University of the Philippines - Quezon City Campus. It caters to administrative officers, university faculty, and all Iskolar ng Bayan. myPUPQC offers an integrated platform to accommodate your academic and administrative needs. From intuitive faculty and class scheduling to various overarching admin and faculty information systems, our goal is to enhance your university experience with efficiency and ease.
                        <br/>
                        The primary goals of myPUPQC portal are centered on:
                    </p>
                    
                    <ul style="margin-left: 3rem;">
                        <li style="list-style-type: disc !important;"> Facilitate Campus Resource Management</li>
                        <li style="list-style-type: disc !important;"> Improve Academic Relations & Extension Services Management outside campus</li>
                        <li style="list-style-type: disc !important;"> Provide Easy Accessibility to University Repositories & Processes</li>
                        <li style="list-style-type: disc !important;"> Foster Campus Connectivity among Faculty & Administrators </li>
                        <li style="list-style-type: disc !important;"> Support Academic Success</li>
                    </ul>
                    
                    <p class="mt-1">
                        Explore myPUPQC today and discover how we are transforming campus connectivity and support, making every aspect of university life more accessible and organized!
                    </p>
                </div>
            </div>
        </div>
    </section>
