{% load static %}
<section id="section_services" class="mt-4">
    <div id="testimonials" class="testimonials mt-4 py-4">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>OVERVIEW</h2>
                <p>SERVICES</p>
            </div>
        </div>
    </div>
    <div id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-boxes flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col flex align-items-center">
                                <a href="https://acmis.onrender.com/" target="_blank" class="icon-box acmis mt-4 mt-xl-0" style="border: none !important;">
                                    <img src="{% static 'services/ACCRED (1).png' %}" alt="Accreditation Monitor" class="service-image">
                                    <h4>Accreditation Tracker</h4>
                                </a>
                            </div>
                            <div class="col flex align-items-center">
                                <a href="https://apms-mgba.onrender.com/" target="_blank" class="icon-box apms mt-4 mt-xl-0" style="border: none !important;">
                                <img src="{% static 'services/APMS (1).png' %}" alt="Alumni Achievement Monitor" class="service-image">
                                    <h4>Alumni Achievement Monitor</h4>
                                </a>
                            </div>
                            <div class="col flex align-items-center">
                                <a href="https://scheduler-x302.onrender.com/" target="_blank" class="icon-box csched mt-4 mt-xl-0" style="border: none !important;">
                                <img src="{% static 'services/CSCHED (1).png' %}" alt="Class Scheduler" class="service-image">
                                    <h4>Class Scheduler</h4>
                                </a>
                            </div>
                            <div class="col flex align-items-center">
                                <a href="https://univ-esis.onrender.com" target="_blank" class="icon-box esis mt-4 mt-xl-0" style="border: none !important;">
                                    <img src="{% static 'services/ESIS (1).png' %}" alt="Extension Services Information System" class="service-image">
                                    <h4>Extension Services Information System</h4>
                                </a>
                            </div>
                            <div class="col flex align-items-center">
                                <a href="https://pupqcfis-com.onrender.com/" target="_blank" class="icon-box fis mt-4 mt-xl-0" style="border: none !important;">
                                    <img src="{% static 'services/FIS (1).png' %}" alt="Faculty Directory" class="service-image">
                                    <h4>Faculty Directory</h4>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col flex align-items-center">
                                <a href="#" target="_blank" class="icon-box ms mt-4 mt-xl-0" style="border: none !important;">
                                    <img src="{% static 'services/MS(1).png' %}" alt="Faculty Monitoring" class="service-image">
                                    <h4>Faculty Monitoring & Tracker</h4>
                                </a>
                            </div>
                            <div class="col flex align-items-center">
                                <a href="https://pupris.onrender.com/" target="_blank" class="icon-box ris mt-4 mt-xl-0" style="border: none !important;">
                                    <img src="{% static 'services/RIS (1).png' %}" alt="Research Repository" class="service-image">
                                    <h4>Research Repository</h4>
                                </a>
                            </div>
                            <div class="col flex align-items-center">
                                <a href="https://scds.onrender.com" target="_blank" class="icon-box scds mt-4 mt-xl-0" style="border: none !important;">
                                    <img src="{% static 'services/SCDS (2).png' %}" alt="Student Conduct and Discipline" class="service-image">
                                    <h4>Student Conduct and Discipline</h4>
                                </a>
                            </div>
                            <div class="col flex align-items-center">
                                <a href="https://sge-portal-9lnv2.ondigitalocean.app/home" target="_blank" class="icon-box sge mt-4 mt-xl-0" style="border: none !important;">
                                    <img src="{% static 'services/SGEe (2).png' %}" alt="Student Election Portal" class="service-image">
                                    <h4>Student Election Portal</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>