{% load static %}

    <footer id="footer">

        <div class="footer-top">
            <div class="container  mt-15">
                <div class="row">
                    <div class="col-lg-4 col-md-3 footer-links">
                        <h4 style="color: #880000 !important;" class="fw-medium">QUICK LINKS</h4>
                        <ul>
                            <li><a href="#">About PUPQC</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-3 footer-links">
                        <h4 style="color: #880000 !important;" class="fw-medium">DOWNLOADS</h4>
                        <ul>
                            <li><a href="https://www.pup.edu.ph/downloads/students/">For Students</a></li>
                            <li><a href="https://www.pup.edu.ph/downloads/employees/">For Faculty and Employees</a></li>
                        </ul>
                        <div class="mt-4">
                            <h4 style="color: #880000 !important;" class="fw-medium">PUPWEBSITE 10</h4>
                            <ul>
                                <a href="https://www.pup.edu.ph/terms/">Terms of Use</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                <a href="https://www.pup.edu.ph/privacy/">Privacy Statements</a>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-3 footer-links">
                        <h4 style="color: #880000 !important;" class="fw-medium">KEEP IN TOUCH</h4>
                        
                        <div class="social-links">
                            <a href="https://www.facebook.com/srg.pupqc" style="margin-right: 15px;" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="mail"><i class="bi bi-envelope"></i></a>
                        </div>

                        <div class="mt-4">
                            <h4 style="color: #880000 !important;" class="fw-medium">CONTACT US</h4>
                            <p style="margin-top: 0 !important; color: gray !important;">
                                Don Fabian, Quezon City, <br>
                                1121 Metro Manila<br>
                                <strong>Phone:</strong> (+63 2) 5335-1PUP (5335-1787) or 5335-1777<br>
                                <strong>Email:</strong> inquire@pup.edu.ph<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <span style="font-size: 0.75rem; color: gray !important">
                            © 1998-2021 POLYTECHNIC UNIVERSITY OF THE PHILIPPINES
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    {% comment %} <div id="preloader"></div> {% endcomment %}
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>