{% load static %}
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/myPUPQC.png' %}" alt="Iskonect">
                </a>
            </h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a href="#section_about"">About</a></li>
                    <li><a href="#section_services">Services</a></li>
                    <li><a href="#section_faqs">FAQs</a></li>
                    <li><a href="#section_contact">Contact us</a></li>
                </ul>
            </nav>
        </div>